<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}mdesktop.pl{% endblock %}</title>
{% stylesheets '@AcmeMainBundle/Resources/public/css/*' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>
