body
{
	background: #0D68B8;
}

#container
{
	margin: auto;
	width: 1000px;
	background: #fff;
	padding: 10px;
}

#userSideBar 
{
	width: 200px;
	float: left;
}

#contentBar 
{
	width: 800px;
	float: right;
	clear: both;
}

#topSideBar
{
	padding: 10px;
	background: #eee;
	margin-bottom: 10px;
}

#content
{
	margin-top: 10px;
}

#footerBar 
{
	padding-top: 10px;
	text-align: right;
}

.clearfix
{
	clear: both;
}

form 
{
	margin: 0px;
}

form label
{
	display: block;
}

form #remember_me
{
	display: block;
}

#pagination 
{
	text-align: center;
}
