body
{
	background: #0D68B8;
}

#container
{
	margin: auto;
	width: 1000px;
	background: #fff;
	padding: 10px;
}

#userSideBar 
{
	float: left;
	width: 200px;
}

#contentBar 
{
	width: 800px;
	float: right;
}

#topSideBar
{
	padding: 10px;
	margin-bottom: 10px;
	text-align: right;
}

#content
{
	margin-top: 10px;
}

#footerBar 
{
	padding-top: 10px;
	text-align: right;
}

.clearfix
{
	clear: both;
}

form 
{
	margin: 0px;
}

form label
{
	display: block;
}

form #remember_me
{
	display: block;
}

#pagination 
{
	text-align: center;
}

#menu 
{
}

#menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	background: #999;
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu ul li {
	display: inline;
}

#menu ul li a
{
	color: #000;
	font-style: none;
	background: #999;
	padding: 10px;
}

#menu ul li a:hover
{
	background: #666;
}

#menu ul li.current a
{
	font-weight: bold;
}

a 
{
	font-style: none;
	text-decoration: none;
	color: #000
}
