<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}mdesktop.pl{% endblock %}</title>
{% stylesheets '@AcmeMainBundle/Resources/public/css/*' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />    
    </head>
    <body>
    <div id="container">
    	
        {% include "AcmeMainBundle::flash.html.twig" %}
        
    	<div id="userSideBar">
	        {% include "AcmeMainBundle::user.html.twig" %}
        </div>
        
        <div id="contentBar">
        	{% block fos_user_content %}{% endblock fos_user_content %}
        </div>
        
        <div class="clearfix"></div>
    </div>
    </body>
</html>
