{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block content %}
<div class="cmsContent formCms">
	{% block fos_user_content %}{% endblock %}
</div>
{% endblock %}
