{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block content %}
{% for entity in tracks %}
    <h2><a href="{{ path('track_show', {'slug': entity.slug}) }}">{{ entity.title }}</a></h2>
{% endfor %}

<div id="pagination">
{% if  page != 2 %}
	<a href="{{ path('track_search', {'q': query, 'page': page-2}) }}">Poprzednia strona</a>
{% endif %}
{% if next_page %}
	<a href="{{ path('track_search', {'q': query, 'page': page}) }}">Nastepna strona</a>
{% endif %}
</div>
{% endblock %}
